<h1>会員一覧</h1>

<table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>名前</th>
        <th>プロフィール</th>
      </tr>
    </thead>
  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= link_to "#{customer.name}のプロフィール", customer_path(customer) %></td>
    </tr>
    <% end %>
  </tbody>
</table>