<footer class="footer w-100 mx-auto pt-3 pb-1 shadow-sm bg-dark">
  <div class="container text-center">
    <p class="text-white small">Copyrights © moc moc All Rights Reserved.</p>
  </div>
</footer>